<?xml version="1.0"?>
<robot name="racecar" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="./macros.xacro" />

  <!-- Add chassis and it's inertia link -->

  <link name="ego_racecar/base_link" />

  <!-- Add IMU link -->

  <!-- Add Hokuyo laser scanner -->

  <link name="ego_racecar/laser">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/tpwjd/cartographer_ws/src/f1tenth_cartographer/urdf/hokuyo.dae"/>
        <material name="grey" />
      </geometry>
    </visual>
  </link>

  <joint name="hokuyo_joint" type="fixed">
    <origin xyz="0.265 0.0 0.1" rpy="0 0 0"/>
    <parent link="ego_racecar/base_link" />
    <child link="ego_racecar/laser" />
    <axis xyz="0 0 1" />
  </joint>
</robot>